<a href="https://colab.research.google.com/github/IngCarlosCogua/maching_learn_ch/blob/main/Regresiones/2_Limpieza_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tratamiento de datos faltantes**

In [ ]:
#importacion de librerias
import numpy as np #calculos matematicos cientificos
import matplotlib.pyplot as plt #sublinreria para representacio  grafica
import pandas as pd # libreria para carga y manipulacion de datos
dataset = pd.read_csv('/content/drive/MyDrive/Analitica_Programadorch/Archivoscsv/Data.csv')
dataset.info() #informacion de filas y columnas del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
columnas = dataset.columns #guardando el nombre de las columnas para procesos de limpieza nan

**Dividiendo las variables predicotras X y la variable a predecir Y**

La idea es dividir el datrafame en 2 partes nuevas para no afectarlo X y Y por columnas donde una cantidad de datos predeciran los resultados de los datos de Y

In [ ]:
#X es la variable independiente predictora  y Y es la variable dependiente a predecir
X = dataset.iloc[:,:-1].values #iloc sirve para localizar filas i columnas por posicion,[:,:-1] toma todas las filas y todas la columnas exepto la ultima en una array

Y = dataset.iloc[:,3].values # toma todas la filas pero solo de la ultima columna

# **2.Limpieza de datos y tratamiento de datos Nan**

detectando cantidad de datos faltantes en el dataframe

In [ ]:
#detectando cantidad de datos faltantes en el dataframe / con dropna() se pueden eliminar datos faltantes todas la filas 
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

modo manual

In [ ]:
#caluclamos la media de cada columna 
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [ ]:
X # visulizando los datos de x antes de todos los cambios aqui se miraba los datos nan

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [ ]:
#reemplazo los valores nan por el valor proimedio de cada columna 
X[:,1] = dataset['Age'].replace(np.nan, 38) #realiza el remplazo en todas las filas de la columna 2 donde hay valores nan
X[:,2] = dataset['Salary'].replace(np.nan, 63777) #realiza el remplazo en todas las filas de la columna 3 donde hay valores nan

In [ ]:
X #visualizando el array X con los datos nan reemplazados por las medias

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)