<a href="https://colab.research.google.com/github/IngCarlosCogua/maching_learn_ch/blob/main/Regresiones/CambioDatos_dataset_columnasnuevas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
fichero = '/content/drive/MyDrive/Analitica_Programadorch/Archivoscsv/test.csv'
datos = pd.read_csv(fichero) #leyendo la ruta

In [ ]:
datos.head()

In [ ]:
datos.dtypes # mostrando el tipo de variables

**cambie los datos de la columna a√±os que estaban en int64 a float 64**

In [20]:
#dataframe  columna y tipo de valor
datos['Year']= datos['Year'].astype('float64')

In [ ]:
datos.dtypes

**Realizar calculos y ponerlos en una columna nueva**

In [22]:
#dataset 'columna nueva'  = operacion matematica
datos['Millas_driven'] = datos['Kilometers_Driven']*0.621371

**Renombrar columnas**

In [25]:
datos.rename(columns= {'Millas_driven': 'Millas_conducidas'}, inplace= True)

In [ ]:
datos.columns

**Normalizacion de datos "para algunos casos de machine learning es necesario", haciendo un escalado simple, ESTO SE HACE CUANDO UNA COLUMNA LOS VALORES DE UNA COLUMNA SON EL RESULTADO DE OPERAR UNA CONSTANTE CON OTRA, al normalizar los valores de las 2 columnas seran los mismo y el algoritmo no se confundira al tomar una desicion, no aplica para todos los casos**

metodo: minimo y valor anterior

In [35]:
 print(datos[['Millas_conducidas', 'Kilometers_Driven']])

      Millas_conducidas  Kilometers_Driven
0          25432.093659              40929
1          33860.369903              54493
2          21126.614000              34000
3          86370.569000             139000
4          18019.759000              29000
...                 ...                ...
1229       55557.402481              89411
1230       36660.889000              59000
1231       17398.388000              28000
1232       32474.091202              52262
1233       45013.979353              72443

[1234 rows x 2 columns]

In [36]:
datos['Millas_Norm'] = datos['Millas_conducidas']/datos['Millas_conducidas'].max()
datos['Kilometros_Norm'] = datos['Kilometers_Driven']/datos['Kilometers_Driven'].max()

In [38]:
 print(datos[['Millas_Norm','Kilometros_Norm']])

      Millas_Norm  Kilometros_Norm
0        0.116940         0.116940
1        0.155694         0.155694
2        0.097143         0.097143
3        0.397143         0.397143
4        0.082857         0.082857
...           ...              ...
1229     0.255460         0.255460
1230     0.168571         0.168571
1231     0.080000         0.080000
1232     0.149320         0.149320
1233     0.206980         0.206980

[1234 rows x 2 columns]

Otro metodo es tomando el minimo y el maximo

In [41]:
print(datos[['Millas_conducidas', 'Kilometers_Driven']])

datos['Millas_Norm'] = datos['Millas_conducidas']-datos['Millas_conducidas'],min()/datos['Millas_conducidas'].max()
datos['Kilometros_Norm'] = datos['Kilometers_Driven']-datos['Kilometers_Driven'],min()/datos['Kilometers_Driven'].max()

      Millas_conducidas  Kilometers_Driven
0          25432.093659              40929
1          33860.369903              54493
2          21126.614000              34000
3          86370.569000             139000
4          18019.759000              29000
...                 ...                ...
1229       55557.402481              89411
1230       36660.889000              59000
1231       17398.388000              28000
1232       32474.091202              52262
1233       45013.979353              72443

[1234 rows x 2 columns]

TypeError: ignored

In [40]:
 print(datos[['Millas_Norm','Kilometros_Norm']])

      Millas_Norm  Kilometros_Norm
0        0.116940         0.116940
1        0.155694         0.155694
2        0.097143         0.097143
3        0.397143         0.397143
4        0.082857         0.082857
...           ...              ...
1229     0.255460         0.255460
1230     0.168571         0.168571
1231     0.080000         0.080000
1232     0.149320         0.149320
1233     0.206980         0.206980

[1234 rows x 2 columns]